name: Update Devbox Packages
on:
  schedule:
    - cron: "0 0 * * 1" # Weekly on Mondays
  workflow_dispatch: # Manual trigger

jobs:
  update-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.12.0

      - name: Update Devbox Packages
        uses: xiaolutech/devbox-update-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
